---
import MainContainer from "src/components/MainContainer.astro";
import Layout from "../components/Layout.astro";
import Avatar from "../images/avataaars.png";
---

<Layout title="JBailly Web dev">
  <MainContainer>
    <div class="flex flex-col md:flex-row items-center space-x-4 shadow-box-up dark:shadow-orange-dark p-4 md:p-6 rounded-xl">
      <img
        class="p-1 mb-2 md:mb-0 w-40 h-40 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
        src={Avatar}
        alt="Bordered avatar"
      />
      <div class="font-medium dark:text-white">
        <div class="mb-2 md:mb-0"></div>
        <div class="text-xs text-gray-500 dark:text-gray-400">
          <p>
              Après de nombreuses années à refouler mes pulsions et mes aspirations, un constat récurrent s'est néanmoins imposé :
              Je suis un Geek.
            </p>
          <p>
            Dans l'optique de pleinement assumer cette part numérique de mon ADN et de pouvoir clamer haut et fort "J'aime le pixel",
             j'ai obtenu le titre de Développeur Web /Web mobile et suis actuellement développeur chez 
            <a href="https://www.6tematik.fr/" target="_blank">
              6TEMATIK
            </a>
          </p>
        </div>
      </div>
    </div>
  </MainContainer>
</Layout>
