---
import Layout from "../components/Layout.astro";
import MainCard from "src/components/MainCard.astro";
import MediumPost from "@components/MediumPost";
import MainContainer from "src/components/MainContainer.astro";
import ContainerScroll from "@components/ContainerScroll.astro";
---

<Layout title="JBailly Web dev">
	<MainCard />
		<!-- <div class="block md:hidden overflow-auto no-scrollbar">
		<ContainerScroll>
			<MediumPost client:visible />
		</ContainerScroll>
	</div> -->
</Layout>
